$base: #161B20;
$subtle: #54a1a0;
$rain: #2C3845;
$scrollbarBG: darken($rain, 6%);
$thumbBG: #90A4AE;

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    background-color: $base;
    position: relative;
    height: 100vh;
}

.header {
    margin-top:0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    height: 50px;
    font-family: system-ui;
    color: #516070;
    line-height: 50px;
}

thead .ascending::after {
    content: '👇';
    display: inline-block;
    margin-left: 1em;
}
  
thead .descending::after {
    content: '☝️';
    display: inline-block;
    margin-left: 1em;
}

//================== Form

.form{
    margin-bottom:15px;
    margin-left: 15px;

    & .form-input {
        box-sizing: border-box;
        height: 30px;
        color: #fff;;
        border-bottom:2px solid darken($subtle, 10%);
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
        text-indent: 5px;
        width: 375px;

        &::placeholder{
            text-indent: 5px;
            color: lighten($rain,35%);
        }

        &:focus-visible {
            outline: none;
            border-bottom: 2px solid $subtle
        }
    }

    & .form-button {
        background-color:darken($subtle, 10%);
        color: #FFF;
        height: 30px;
        width: 65px;
        border-radius: 7px;
        border: none;
        outline: none;
        margin-left: 10px;

        &:hover {
            background-color: $subtle
        }
    }
}

//================== Table

.results-table{
    margin-left: 15px;
    width: 450px;
    background-color: $rain;

    & th {
        padding: 10px;
        font-weight: 400;
        background-color: darken($rain, 6%);
        color: #fff;
        border: 1px solid darken($rain, 6%);
    }

    & .binance, .kraken, .bitfinex, .huobi {
        width: 100%;
        height: 100%;
    }

    & td{
        color: lighten($rain,35%);
        padding: 5px;
        border-bottom: 1px solid darken($rain,6%);
        width: 225px;

        &:nth-child(2){
            text-align: center;
        }

        & .flex {
            display: flex;
            align-items: stretch;
            justify-content: space-evenly;
            width: 130px;
        }

        & .image, .text {
            position: relative;
            width: 40px;
            height: 40px;
            display: inline-block;
        }

        & .text {
            line-height: 40px;
        }
    }

    & .results-table-button {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom:2px solid darken($subtle, 10%);
        color: #fff;
        height: 25px;

        &:hover {
            border-bottom: 2px solid $subtle
        }
    }
}

.criptocurrency {
    position: absolute;
    bottom: 4%;
    right: 10%;
}

// ================= Modal

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;

    &-content {
        width: 700px;
        background-color: $rain;
        color:#fff;
        border-radius: 10px
    }

    &-header {
        padding: 10px;
        color:lighten($rain,35%);
    }
    &-footer {
        padding: 10px;

        & .modal-button{
            background-color:darken($subtle, 10%);
            color: #FFF;
            height: 30px;
            width: 65px;
            border-radius: 7px;
            border:none;
            outline: none;
            margin-left: 10px;

            &:hover {
                background-color: $subtle;
            }
        }
    }

    &-title {
        margin: 0;
    }

    &-body {
        padding: 10px;
        border-top:2px solid darken($rain, 6%);
        border-bottom: 2px solid darken($rain, 6%);
        max-height: 60vh;
        overflow: auto;

        scrollbar-width: thin;
        scrollbar-color: $thumbBG $scrollbarBG;

        &::-webkit-scrollbar {
            width: 11px;
        }

        &::-webkit-scrollbar-track {
            background: $scrollbarBG;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $thumbBG ;
            border-radius: 6px;
            border: 3px solid $scrollbarBG;
        }
    }

    &-details-section{
        padding: 10px;
        border-top:2px solid darken($subtle, 10%);
    }    
}

//================== Details

.details-section {
    display: flex;
    width: 300px;
    align-items: stretch;
    justify-content: space-evenly;

    & .details-button {
        background-color:darken($subtle, 10%);
        color: #FFF;
        height: 30px;
        width: 65px;
        border-radius: 7px;
        border:none;
        outline: none;
        margin-left: 10px;

        &:hover {
            background-color: $subtle;
        }
    }
}